.uicontainer{
  display: flex;
  justify-content: center;
  
}

.landingpage{
  width: 25vw;
  padding: 1rem;
  border: 1px solid black;
  background-color: #F5FBF0;
}
.coursehomepage{
  width: 25vw;
  padding: 1rem;
  border: 1px solid black;
}

.logincontainer{
  width: 25vw;
  padding: 1rem;
  border: 1px solid black;
}
.cancelbtn{
  display: flex;
  float:right;
  font-size: 30px;
  cursor: pointer;
}

/* components/OtpInput.module.css */

.otpContainer {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.otpContainer input {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 100%;
  text-align: center;
  font-size: 18px;
}

.loginheading{
  margin: 3rem 0rem 2rem 0rem;
}
.loginheading p {
  color: grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.loginbtn{
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
}
.emailinput{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 10px;
}
.emailinput input{
  padding: 0.5rem;

}
.loginuser{
  width: 25vw;
  padding: 1rem;
  border: 1px solid black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Replace with your desired background color */
  background-color: #F5FBF0;
}

.progress{
  display: flex;
  margin: 2rem;
}
.smallcircle{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.smallsquare{
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.smallvector{
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
.progressdetails{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.smallobject{
  display: flex;
  gap: 1rem;
}
.individualprogressdetails{
  display: flex;
  gap: 1rem;
}
.greenbtn{
  background-color: #007E0D;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #F5FBF0;
}

.landingpagebuttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.secondcontainer{
  margin-top: 0.5rem;
  display: flex;
  
}

.courseitem{
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}


.paragraphs{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.desg{
  display: flex;
  justify-content: center;
}

.grpbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
/* Vector 487 */
.vector{
width: 12vw;
height: 15vh;
background: #FEE799;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.justifytext{
  text-align: justify;
}